/*Sets some headings to bold*/
.bold {
  font-weight: bold; 
  color: hsl(166, 100%,50%)
}

#quote {
  color: rgba(255,0,0,4);
}

*h2 {
  color: rgb(120,120,120);
}

code {
  background-color: #FFF; 
}





