/*Sets some headings to bold*/
.bold {
  font-weight: bold; 
  
}

#quote {
  color: rgba(255,0,0,4);
}

*h2 {
  color: rgb(120,120,120);
  font-size: 3cm; 
  
}

code {
  background-color: rgb(176,176,176); 
  font-size: 3ch; 
}

p[target] {
  border-style: solid; 
  border-color: red;
  border-width: 4px; 
  border-radius: 100px; 
  font-size: 2em;
  
}






